<app-navbar></app-navbar>
<div class="container main-container">

    <h1>Demos <small>Angular</small></h1>
    <hr>
    <!-- <p>
        Ejecutando desde app.Component
    </p>  -->

    <router-outlet></router-outlet>

</div>