<div [ngClass]="alerta" class="alert" role="alert">
    A simple success alert—check it out!
</div>

<button type="button" class="btn btn-info" (click)="alerta='alert-info'">Info</button>
<button type="button" class="btn btn-success" (click)="alerta='alert-success'">Succes</button>

<br>
<br>

<h3 [ngClass]=" { 'text-danger' : propiedad.danger, 'text-info' :  !propiedad.danger } ">Hola xDxSD</h3>


<button type="button" name="button" class="btn" (click)="propiedad.danger=!propiedad.danger" [ngClass]=" { 'btn-danger' : propiedad.danger, 'btn-info' :  !propiedad.danger } ">Cambiar</button>

<br><br>
<h3>Proceso Asincrono</h3>

<button class="btn btn-primary" type="button" name="button" (click)="ejecutar()" [disabled]="loading">
  <i class="fa" [ngClass]=" { 'fa-save' : !loading, 'fa-refresh fa-spin': loading } "></i>
  <span *ngIf="!loading">Guardar cambios</span>
  <span *ngIf="loading">Esperaaaaa</span>
</button>